<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="csSQL" value="server={0};database={1};uid={2};pwd={3};"/>
    <add key="csODBC" value="DSN={0};UID={1};PWD={2};"/>
    <add key="IPServer" value="10.121.10.15"/>
    <add key="Database" value="CENTER_DB"/>
    <add key="Username" value="sa"/>
    <add key="Password" value="sa"/>
    <add key="Reload" value="30"/>
  </appSettings>
</configuration>